<h1>Details for User Id: {{userObj()?.name}} {{userObj()?.surname}}</h1>

<div class="user-table">
  <table class="tabel-container">
    <thead>
      <tr>
        <th>User Id</th>
      </tr>
      <tr>
        <th>Full Name</th>
      </tr>
      <tr>
        <th>Gender</th>
      </tr>
      <tr>
        <th>Birth Date</th>
      </tr>
      <tr>
        <th>Home Address</th>
      </tr>
      <tr>
        <th>Work Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{userObj()?.userID}}</td>
      </tr>
      <tr>
          <td>{{userObj()?.name}}</td>
          <td>{{userObj()?.surname}}</td>
      </tr>
      <tr>
        <td>{{userObj()?.gender}}</td>
      </tr>
      <tr>
        <td>{{userObj()?.birthDate}}</td>
      </tr>
      <tr>
        <td>{{userObj()?.homeAddress?.homeAddID}}</td>
        <td>{{userObj()?.homeAddress?.homeAddress}}</td>
      </tr>
      <tr>
        <td>{{userObj()?.workAddress?.workAddID}}</td>
        <td>{{userObj()?.workAddress?.workAddress}}</td>
      </tr>
    </tbody>
  </table>
</div>
