<h1 *ngIf="users">Details for User: {{users.name}} {{users.surname}}</h1>

<div *ngIf="users" class="user-table">
  <!-- Test -->
  <!-- <button (click)="logAddresses()">Log Addresses</button> -->
  <table class="tabel-container">
    <thead>
      <tr>
        <th>User Id</th>
      </tr>
      <tr>
        <th>Full Name</th>
      </tr>
      <tr>
        <th>Gender</th>
      </tr>
      <tr>
        <th>Birth Date</th>
      </tr>
      <tr>
        <th>Home Address</th>
      </tr>
      <tr>
        <th>Work Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{users.userID}}</td>
      </tr>
      <tr>
          <td>{{users.name}}</td>
          <td>{{users.surname}}</td>
      </tr>
      <tr>
        <td>{{users.gender}}</td>
      </tr>
      <tr>
        <td>{{users.birthDate}}</td>
      </tr>
      <tr>
        <td>ID: {{users.homeAdd?.id || 'N/A'}} - Address: {{users.homeAdd?.address || 'N/A'}}</td>
      </tr>
      <tr>
        <td>ID: {{users.workAdd?.id || 'N/A'}} - Address: {{users.workAdd?.address || 'N/A'}}</td>
      </tr>
    </tbody>
  </table>
</div>
